*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font: 18px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  letter-spacing: 0.18px;
  color: #2d3748;
  background-color: #f4f0e8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1, h2 {
  font-weight: 500;
  color: #08060d;
}

p {
  margin: 0;
}